
  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(108, 109, 105);
    background-color: black;
  }

  #topBar {
    background-color: black;
  }

  #pageHeader {
    font-size: 25px

  }


.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: rgb(0,0,0);
  color: rgb(108, 186, 165)
}
